@import url('https://fonts.cdnfonts.com/css/cooper-black');
@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.font-cooper-black {
  font-family: 'Cooper Black', serif;
}